<nav class="navbar fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="/">Pet City</a>
	<a href="/logout" class="right">Logout</a>
	<p class="right">|</p>
	<a href="/login" class="right">Login</a>
</nav>